:root {
    --white: #f0f0f0;
    --black: #0f0d10;
    --light-grey: #c2c2c2;
    --dark-grey: #333;

    --light-bg: var(--white);
    --dark-bg: var(--black);

    --text-dark: var(--dark-grey);
    --text-light: var(--light-grey);
}

/* --- Reset & General Styles --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: var(--white);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

/* --- Header --- */
header {
    padding: 20px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}

/* --- Main ---*/
main {
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

/* --- Search ---*/
.search-form {
    display: flex;
    flex-direction: row;
    height: 2.7rem;
    width: 20rem;
    gap: 0.5rem;

    input {
        height: 100%;
        width: 17.3rem;
        border-radius: 3rem;
        text-align: center;
        border: 1px solid var(--dark-grey);
        background-color: transparent;
    }
    button {
        height: 100%;
        width: 2.7rem;
        border-radius: 3rem;
        border: 1px solid var(--dark-grey);
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            font-size: 21px;
        }
    }
}

/* --- Footer --- */
footer {
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}
